################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

D:\Github\A-DS1\build\.vs
/build/*